<div class="banner-home" style="background-image: url(<%= asset_path 'banner.jpg' %>)">
  <div class="text-start">
    <h1>Gone In 60 Seconds</h1>
  </div>
</div>

<div class= "background-home">
  <p>Welcome to the garage of Gone in 60 Seconds. Our lead engineer Nicholas Cage has stollen 50 luxury vehicles in one
  night in order to save the life of his brother, who has fallen foul of a dangerous crime lord. Once the most successful
  car thief in California, he has reassembled his old gang to fulfil the almost impossible mission. This website is dedicated
  to selling his stolen cars to pay off his brother's debt.  Happy browsing! However don't take too long as they may be gone
  within a few seconds or indeed 60...
  </p>

  <%# <% link_to "Show the cars", car_path(car) %>
</div>
